1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
'hello'
-87.8
-
/
+
6

In [24]:
a = 6
b = 5
c = a * b
print(c)
#hence we can see * is a expression

30

In [25]:
ch='Hello'
print (ch)
#hence 'hello' is a value

Hello

In [26]:
h=-87.8
b=2
c=h/b
print (c)
#hence we -87.8 is a value

-43.9

In [27]:
h=-24
b=2
c=h-b
print (c)
#hence - is a expression

-26

In [28]:
h=24
b=2
c=h/b
print (c)
#hence / is a expression

12.0

In [29]:
h=24
b=2
c=h/b
print (c)
#hence / is a expression

12.0

In [30]:
h=24
b=2
c=h+b
print (c)
#hence + is a expression

26

In [31]:
h=4
b=2
c=h+b
print (c)
#hence 6 is a value

6

2. What is the difference between string and variable?

In [32]:
#String is a data type that is used with a variable to store character value
#variable are the container that is used with the data type to store different types of value like integer,string,character,boolean,arrays

#String example-
a='string is used to store character values'
b=type(a)
print(b)

<class 'str'>

In [33]:
#variable are the container that is used with the data type to store different types of value like integer,string,character,boolean,arrays
#Variables Example-
a=10
b='str'
c=47.3
m=type(a)
n=type(b)
o=type(c)
print(m)
print(o)
print(n)

<class 'int'>
<class 'float'>
<class 'str'>

3. Describe three different data types.

In [34]:
#There are 9 types of data types which are used in python which are
#1. str – String
#Stores text inside quotes (single ' or double ").
name = "Harshu"
print(name)

Harshu

In [35]:
#2. int – Integer
#Whole numbers (positive or negative).

age = 21
print(age)

21

In [36]:
#3. float – Floating Point
#Decimal numbers.
price = 99.99
print(price)

99.99

In [37]:
#4 Boolean (bool)
#Use: Represents True or False values
#Used in: Conditions, comparisons, loops
a = 5
b = 3
print(a > b)  # Output: True

True

In [38]:

#5 List
#Use: Ordered, changeable (mutable), allows duplicate values
#Indexed: Yes (starts at 0)
fruits = ["apple", "banana", "mango"]
print(fruits)

['apple', 'banana', 'mango']

In [39]:
#6. Tuple
#Use: Ordered, unchangeable (immutable), allows duplicates
colors = ("red", "green", "blue")
print(colors)

('red', 'green', 'blue')

In [40]:
#7. Set
# Use: Unordered, unindexed, no duplicates
my_set = {1, 2, 3, 2, 1}
print(my_set)

{1, 2, 3}

In [41]:
#8 Dictionary (dict)
#Use: Stores data in key-value pairs
student = {
    "name": "Ananya",
    "age": 20,
    "course": "Python"
}
print(student)

{'name': 'Ananya', 'age': 20, 'course': 'Python'}

In [42]:
#9. None is a special built-in constant in Python.
#It represents no value or nothing.

4. What is an expression made up of? What do all expressions do?

In [43]:
#Expression are made up of operands and operator
#Operator-Operators are the expression which are used for performing action
#Values-Values are the Digits,on which the action is performed
#Variables-Variables are the storage where the values are stored

5.This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

In [50]:
#As we can clearly see below that the spam=10 is a statement not the expression ,becuase a statement is a piece of code that does Something whereas the 
#expression is a piece of code that produces a value
spam=10 #Statement
spam_2=spam+10 #Expression
print(spam_2)

20

6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [51]:
bacon = 22
bacon + 1
print(bacon) #hence 22 is the answer

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [ ]:
'spam' + 'spamspam'
'spam' * 3 #Hence the output is -'spamspamspam'

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
#Egg is a valid variable name because it is not a reserved keyword, 
# and it is a word. On the other hand, 100 is a number, and numbers cannot be used as variable names since that goes against the naming rules in Python.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [56]:
#1. int() – Converts to Integer
x = int(5.7)     # Output: 5
y = int("10")    # Output: 10
print (y)
print(x)

10
5

In [57]:
#2. float() – Converts to Floating-point number
a = float(5)     # Output: 5.0
b = float("3.14")# Output: 3.14
print (a)
print(b)

5.0
3.14

In [58]:
#3. str() – Converts to String
s1 = str(100)    # Output: "100"
s2 = str(3.14)   # Output: "3.14"
print(s1)
print(s2)

100
3.14

10. Why does this expression cause an error? How can you fix it?
'I have eaten '+ 99 + 'burritos.'

In [59]:
#This Statement is trying to concatenate the string with integer
#So to solve this out it would be like
str= 'I have eaten' +str(99) +'burritos.'
print (str)

I have eaten99burritos.